.navbar {
    border-right: 1px solid var(--secondary);
    max-width: 200px;
    width: 100%;
    position: relative;
    height: calc(100vh - 67px);

    &-cont {
        display: flex;
        flex-direction: column;

        a {
            padding: 7px 10px;
            color: black;
            display: flex;
            align-items: center;
            transition: all .2s ease-in-out;
            justify-content: space-between;

        }

        .active {
            border-bottom: 1px solid var(--secondary);
            color: var(--Purple);

            svg {
                transform: rotate(-90deg);
            }

            padding-left: 15px;
        }

    }
}