.pagination-component {
    width: 100%;

    .block {
        display: flex;
        gap: 10px;
    }

    button {
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1.5px solid var(--Purple);
        transition: all .15s ease-in-out;

        svg {
            transition: all .15s ease-in-out;
            stroke: #AF58EA;
        }

        &:hover {
            background-color: var(--Purple);

            svg {
                stroke: white;
            }
        }

        &:disabled {
            border: 1px solid gray;
            cursor: default;

            &:hover {
                background-color: transparent;


                svg {
                    stroke: var(--Purple);
                }
            }
        }
    }

    .prev {
        transform: rotate(180deg);
    }

    .counter {
        display: flex;
        gap: 2px;

        p {
            cursor: pointer;
            transition: all .2s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 5px;
            border-bottom: 1px solid var(--secondary);

            &:hover {
                border-bottom: 1px solid var(--Purple);
            }
        }

        .actived {
            color: var(--Purple);
            border-bottom: 1px solid var(--Purple);
        }
    }

}